.home {
	width: 100vw;
	height: 100vh;
	.home-background {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: -1;
		@include for-size(phone) {
			bottom: 2rem;
		}
		svg {
			height: 100% !important;
			width: 100% !important;
			#cloud {
				animation: cloud-anim 5s alternate-reverse infinite linear;
			}
		}
	}
	.hero-container {
		text-align: center;
		z-index: 1;
		width: 100%;
		@include for-size(phone) {
			position: absolute;
			top: 30%;
		}
		.hero-heading {
			overflow: hidden;
			h1 {
				animation: heading-anim 1s linear;
				font-size: 4rem;
				font-weight: normal;
				span {
					font-weight: bold;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						border-bottom: 5px solid $red-shade-2;
						left: 0;
						bottom: 0;
						width: 100%;
						@include for-size(phone) {
							border-bottom: 5px solid $red-shade-2;
						}
					}
				}
			}
		}
		.hero-search {
			display: flex;
			overflow-y: hidden;
			justify-content: center;

			.hero-search__input {
				animation: heading-anim 0.5s linear;
				animation-delay: 0.5s;
				animation-fill-mode: both;
				border: 1px solid #7c7c7c;
				box-sizing: border-box;
				box-shadow: -8px 4px 4px -2px #f5f5f5;
				border-radius: 1rem;
				display: flex;
				align-items: center;
				padding: 0.4rem 1rem;
				width: 20rem;
				height: 3.5rem;
				svg {
					width: 2rem;
				}
				input {
					width: 100%;
					border: none;
					&:focus {
						outline: none;
					}
				}
			}
			.hero-search__button {
				animation: heading-anim 0.5s linear;
				animation-delay: 0.5s;
				animation-fill-mode: both;
				height: 3.5rem;
				margin-left: 2rem;
				button {
					border-radius: 1rem;
					height: 100%;
				}
			}
		}
	}
}

@keyframes cloud-anim {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100px);
	}
}
@keyframes heading-anim {
	from {
		transform: translateY(100px);
	}
	to {
		transform: translateY(0);
	}
}
